<html>
    <head>
        <meta charset="utf-8">
        <title>乗り換え案内</title>
    </head>
    <body>
        <h3>ここでは不思議の国のアリスの世界での乗り換え案内を見ることができます</h3>
        <h4>乗り換え案内ができる路線と駅の一覧を表示します</h4>
        {% for line in graph %} 
        <p>----------------------------------------</p>
        <p>線: {{line["Name"]}}</p>
        <p>----------------------------------------</p>
            {% for station in line["Stations"] %}
            <p>駅: {{station}}</p>
            {% endfor %}
        {% endfor %}
        <div class="input">
            <p>---------------------------------------------------------------------</p>
            <h5>乗り換え案内を見たい駅を入力して下さい</h4>
            <form action="/seni">
                <p>出発駅 : </p>
                <input type="text" name="from">
                <p>到着駅 : </p>
                <input type="text" name="to">
                <input type="submit" value="乗り換え案内を調べる">
            </form>

        </div>
    </body>
</html>